.gba {
  background-image: url(../images/game-boy.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 95vh;
  width: 99vw;
}

@media (min-width:1440px) {
  #canvas {
    height: 470px;
    margin-top: 8.2%;
    margin-left: 25.9%;
    width: 710px;
  }
}



#bcg-game, #sonic-player, #gold-ring, #little-red, #weapon {
  display: none;
}

#single-player {
  border: 1px solid black;
  border-radius: 25px;
}
